@use "@/styles/variables/colors.module";

.container {
  padding-top: 2rem;
}

.list {
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  grid-auto-flow: row;

  >li {
    max-width: calc(100vw - 7rem);
    height: 100%;

    &>section {
      height: 100%;
    }
  }
}

.modalButtonRown {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 1.5rem;
  gap: 1rem;
}